@model SendMailDto
@{
    ViewData["Title"] = "Email";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<div class="container">
    <h1>@ViewBag.Message</h1>
    <button class="btn btn-primary mt-5" onclick="history.back()">Go Back</button>
</div>