@{
    ViewData["Title"] = "Home Page";
    //Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="home">
    <div class="home_background" style="height: 100%; background-color: #6f26d4; background-size: cover ">
        <!-- background-image: url(Theme/img/background.jpg)   #563bd1 4826d4  #4826d4cc  #262ad4  #6f26d4 -->
        <div class="container" style="padding-bottom:35px; padding-top:15px;padding-left:0; padding-right:0;">

            <div class="text-center" style="padding-bottom: 50px;">
                <h1 class="display-4" style="color:white">Simplify and Succeed</h1>
            </div>
            <div class="row row-cols-2 justify-content-md-center">
                <div class="col-sm-6">
                    <img src="~/Theme/img/Homephotoready.png" class="img-responsive" width="100%" alt="" />
                </div>
                <div class="col-sm-6">
                    <p style="color:white; padding-left:30px; font-size:20px">
                        Today, the Educational Institutes need to manage more information than ever before, however without
                        a solid internal infrastructure for teachers, administrators and departments to share data, critical College and
                        student information can be lost, or worse communicated incorrectly leading to a host of problems that can affect
                        your Institute’s portrayal and endurance. To remain competitive, every institute requires a simple solution that
                        can run individual functions, connect their entire operation and simplify day-to-day operational responsibilities,
                        giving staff more time with students.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features mt-3 mb-4">
    <div class="container" style="padding-bottom:15px; padding-top:15px">
        <div class="text-center" style=" color: #6f26d4;">
            <h1 >Features of Student Management System</h1>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-3 justify-content-md-center" >
            <div class="col-sm-4" style="padding-bottom:40px">


                <img src="~/Theme/img/analytic.png" style="height:64px" alt="" />
                <span style=" color: #2f2f30; font-size: 20px;">Attendance Management</span>

            </div>
            <div class="col-sm-4" style="padding-bottom:40px">

                <img src="~/Theme/img/agreement.png" style="height:64px" alt="" />
                <span style=" color: #2f2f30; font-size: 20px;">Student Management</span>
            </div>
            <div class="col-sm-4" style="padding-bottom:40px">

                <img src="~/Theme/img/b2c.png" style="height:64px" alt="" />
                <span style=" color: #2f2f30; font-size: 20px;">Mailing System</span>


            </div>
            <div class="col-sm-4" style="padding-bottom:40px">





                <img src="~/Theme/img/contact.png" style="height:64px" alt="" />
                <span style=" color: #2f2f30; font-size: 20px;">Academic Management</span>

            </div>
            <div class="col-sm-4" style="padding-bottom:40px">

                <img src="~/Theme/img/brainstorming.png" style="height:64px" alt="" />
                <span style=" color: #2f2f30; font-size: 20px;">Staff Management</span>
            </div>

            <div class="col-sm-4" style="padding-bottom:40px">
                <img src="~/Theme/img/organization.png" style="height:64px" alt="" />
                <span style=" color: #2f2f30; font-size: 20px;">Timetable Management</span>


            </div>
            <div class="col-sm-4" >


                <img src="~/Theme/img/data.png" style="height:64px" alt="" />
                <span style=" color: #2f2f30; font-size: 20px;">Secure Dashboards</span>

            </div>
            <div class="col-sm-4">

                <img src="~/Theme/img/career.png" style="height:64px" alt="" />
                <span style=" color: #2f2f30; font-size: 20px;">Courses Management</span>

            </div>
            <div class="col-sm-4">
                

                <img src="~/Theme/img/target.png" style="height:64px" alt="" />
                <span style=" color: #2f2f30; font-size: 20px;">Room allocation</span>


            </div>
        </div>

    </div>
</div>
