@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-fluid">
    <div class="row justify-content-center pt-4 pb-3 mb-4" style="background-color: #6f26d4;">
        <div class="col-md-6 text-center" mb-5>
            <h4 style="font-size: xx-large; color: white;">@ViewData["Title"]</h4>
        </div>
    </div>


    <div class="row row justify-content-center">
        <p>Use this page to detail your site's privacy policy.</p>
        </div>
    </div>
