@model StudentManagementSystem.ViewModels.TeacherDashboardViewModel

@{
    ViewData["Title"] = "Teacher Dashboard";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}
<div class="container-fluid">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Courses
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <p class="card-text">
                                Your Courses: @Model.CoursesCount
                            </p>
                            <a class="btn btn-primary" href="~/Courses/Index" id="Userlink">
                                <span>View Courses</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Students
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-user-circle" aria-hidden="true" hight="30" width="30"></i>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <p class="card-text">
                                Your students: @Model.StudentsCount
                            </p>
                            <a class="btn btn-primary" href="~/Users/Index" id="Userlink">
                                <span>View Students</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Rooms
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-door-open" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <p class="card-text">
                                Rooms: @Model.RoomsCount
                            </p>
                            <a class="btn btn-primary" href="~/Rooms/Index" id="Userlink">
                                <span>View Rooms</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>