@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container-fluid">
    <div class="row justify-content-center bg-gradient-primary pt-4 pb-3 mb-4">
        <div class="col-md-6 text-center" mb-5>
            <h4 style="font-size: xx-large; color: white;">@ViewData["Title"]</h4>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-3 mb-5">
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>
