@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container-fluid">
    <div class="row justify-content-center bg-gradient-primary pt-4 pb-3 mb-4">
        <div class="col-md-6 text-center" mb-5>
            <h4 style="font-size: xx-large; color: white;">@ViewData["Title"]</h4>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4 mb-5">
            <p>
                Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
            </p>
        </div>
    </div>
</div>
